
h4 {
    font-weight: bolder;
    font-size: 16px;
    padding-top: 1em;
}

h3, h2 {
    color: white;
    font-size: 38px;
}

h3 {
    margin-right: 1em;
    font-size: 28px;
    
}


.all-recipes img {
    width: 250px;
    height: auto;
}

.recipe {
    display: block;
}

#averageDiv {
    color: teal;
    font-size: 22px;
}

#numberOfRatings {
    color: teal;
    font-size: 18px;
}

#video-container {
    max-height: 200px;
}

#veggiedish-hero {

}

#myVideo {
    position: relative;
    top: -150px;
    right: -20px;
    left: -20px;
    padding-left: -50px;
    padding-right: -50px;
    
    background-image: linear-gradient()
  }


.body {
    background-image: url('images/veggie-dishes.mp4');
    background-attachment: fixed;
    background-size: 100vw;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: fill;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color:grey;
  }

/* .home-recipes{
    display: flex;
    flex-direction: row;
}

.user-recipes {
    display: flex;
    flex-direction: column;
} */
/* 
.user-recipes-container {
    display: flex;
    justify-content: space-around;
} */
