* {
    box-sizing: border-box;
    /* text-align: center; */
    font-family: Catamaran, Sans-serfif;
    /* text-transform: uppercase; */
  }

.column{
    padding: 0;
    /* margin-right: -.5em;
    margin-left: -.5em; */
}

#logo {
    height: 500px;
    width: auto;
    position: inherit;
    margin-bottom:-5em;
}

.create-recipe {
    background: none;
    height: 40px;
    width: 600px;
    border-radius: 25px;
    font-size: 22px;
    border: 2px solid darkgray;
}

#recipe-form {
    display: block;
}

.recipes-functionality{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* Main Page & Recipes Page */

.search {
    width: 600px;
    height: 50px;
    border: 2px solid darkgray;
    border-radius: 25px;
    padding-left: 1em;
    margin-top: 2em;
    border: none;
    -moz-box-shadow:    3px 3px 5px 2px #ccc;
    -webkit-box-shadow: 3px 3px 5px 4px #ccc;
    box-shadow:         3px 3px 5px 4px #ccc;
}

.search-input {
    padding-top: -1em;
}


h4 {
    font-weight: bolder;
    font-size: 16px;
    padding-top: 1em;
}

h3 {
    margin-right: 1em;
    font-size: 28px;
}

/* h2, h3 {
    color: rgb(5, 186, 186)
} */

.home-recipes .message-body {
    display: flex;
    flex-direction: column;
}

.home-recipes a {
    font-size: 26px;
    text-align: center;
}

.home-recipes-div{
    display: flex;
    flex-wrap: wrap;
}

.home-recipes-div article {
    width: 8%;
}

.all-recipes img {
    width: 250px;
    height: auto;
}

.home-recipes img {
    width: 350px;
    height: auto;
}

.search-input {
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
}


.user-recipes {
    display: flex;
    flex-wrap: wrap;
    
}

.recipe {
    display: block;
}

#averageDiv {
    color: teal;
    font-size: 22px;
}

#numberOfRatings {
    color: teal;
    font-size: 18px;
}

#video-container {
    max-height: 200px;
}

/* #veggiedish-hero {
    text-transform: uppercase;
} */
/* nav {
    padding-right: 2.5em;
    margin-right: 2.5em;
} */

.home-recipes {
    /* margin-top: -500px; */
}


#myVideo {
    position: fixed;
    left: -10px;
    top: -150px;
    padding-left: -50px;
    padding-right: -50px;
  }

.content {
    position: relative;
    bottom: 1000px;
    display: flex;
    flex-direction: row;

}

.content div {
    padding-top: 20%;
    text-align: right;
    display: flex;
    justify-items: right;
}


.content h1, .content h3 {
    color: white;
    text-align: right;
}

.edit-profile {
    margin-right: 50%;
}

.edit-profile #submit {
    margin-top: 1em;
}

.group-photo {
    text-align: center;
}


.group-photo img {
    width: 600px;
    height: auto;
}