{% extends "layout.html" %}

{% block content %}
  <form method="POST" action="" novalidate>
    {{ form.hidden_tag() }}

    <div>
      {{ form.name.label }}
      {{ form.name(class_="input") }}
    </div>
    <div>
      {{ form.description.label }}
      {{ form.description(class_="textarea") }}
    </div>
    <div>
        {{ form.ingredients.label }}
        {{ form.ingredients(class_="textarea") }}
    </div>
    <div>
        {{ form.instructions.label }}
        {{ form.instructions(class_="textarea") }}
    </div>

    {{ form.submit(class_="button") }}
  </form>
{% endblock %}