{% extends "layout.html" %}

{% block content %}
<h1>Recipes</h1>
<br>
<input type="text" class="search" id="myInput" onkeyup="searchFunction()" placeholder="Search by keyword">
<br>

<div class="user-recipes-container">
<div class="all-recipes user-recipes">
{% for recipe in recipes_template %}

<article class="message tile is-6 is-vertical is-parent is-primary">
    <div class="message-body tile is-child box">
        <a href={{url_for('recipes', recipe_id=recipe.id)}}>{{recipe.name}}</a>
        <img src={{recipe.image}} alt="">
        <h4>Description</h4>
        <div>{{recipe.description}}</div>
        <div>{{recipe.average_rating}}</div>
        <form action="" method="POST">
            <input name="recipeid" type="hidden" value="{{recipe.id}}">
            {{form.submit(value="Edit")}}
            {{form.submit(value="Delete")}}
        </form>
    </div>
</article>
{% endfor %}
</div>

<div class= "recipe-form"> 
<h2>Recipe Form</h2>
<hr />
{% include "recipe_form.html"%}
</div>
</div>

{% endblock %}