<form class="create-recipe-form" method="POST" action="" novalidate>
  {{ form.hidden_tag() }}
  {{form.id}}
  <div>
    {{ form.name.label(class_="recipe-label") }}
    {{ form.name(class_="input recipe-input") }}
  </div>
  <div>
    {{ form.description.label(class_="recipe-label") }}
    {{ form.description(class_="textarea recipe-input") }}
  </div>
  <div>
    {{ form.ingredients.label(class_="recipe-label")}}
    {{ form.ingredients(class_="textarea recipe-input") }}
  </div>
  <div>
    {{ form.instructions.label(class_="recipe-label") }}
    {{ form.instructions(class_="textarea recipe-input") }}
  </div>
  <div>
    {{ form.image.label(class_="recipe-label") }}
    {{ form.image(class_="input recipe-input") }}
  </div>

  {{ form.submit(class_="button") }}
</form>