{% extends "recipe.html" %}

{% block recipe_reviews %}
<br/>
<h1>Reviews</h1>
<div id="all-reviews">
    {% for review in reviews_template %}
    <article class="message is-secondary">
        <div class="message-header">
            <a>{{review.user_id}}</a>
            {{review.date_reviewed}}
        </div>
        <div class="message-body">
            {{review.rating}}
            {{review.comment}}
        </div>
        {% if current_user.is_authenticated %}
        <form action="" method="POST">
            <input name="reviewsid" type="hidden" value="{{review.id}}">
            {% if review.user_id != current_user.id %}
            {{form.submit(value="Edit")}}
            {{form.submit(value="Delete")}}
            {% endif %}
        </form>
        {% endif %}
    </article>
    {% endfor %}
</div>
{% block reviewForm %}
{% endblock%}


{% endblock %}