
h4 {
    font-weight: bolder;
    font-size: 16px;
    padding-top: 1em;
}

h1 {
    color: black;
    font-size: 38px;
}

img {
    width: 250px;
    height: auto;
    
}

.recipe {
    display: block;
}

#averageDiv {
    color: teal;
    font-size: 22px;
}

/* .home-recipes{
    display: flex;
    flex-direction: row;
}

.user-recipes {
    display: flex;
    flex-direction: column;
} */
/* 
.user-recipes-container {
    display: flex;
    justify-content: space-around;
} */
