* {
    box-sizing: border-box;
    /* text-align: center; */
    font-family: Catamaran, Sans-serfif;
    text-transform: uppercase;
  }

.column{
    padding: 0;
    margin-right: -.5em;
    margin-left: -.5em;
}

#logo {
    height: 500px;
    width: auto;
    position: absolute;
    top: 200px;
}

.create-recipe {
    background: none;
    height: 40px;
    width: 600px;
    border-radius: 25px;
    font-size: 22px;
    border: 2px solid darkgray;
}

.recipe-form {
    display: none;
    background: teal;
}

.recipes-functionality{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search {
    width: 600px;
    border: 2px solid darkgray;
    height: 40px;
    border-radius: 5px;
}

h4 {
    font-weight: bolder;
    font-size: 16px;
    padding-top: 1em;
}

h3 {
    margin-right: 1em;
    font-size: 28px;
}

/* h2, h3 {
    color: rgb(5, 186, 186)
} */

.home-recipes .message-body {
    display: flex;
    flex-direction: column;
}

.home-recipes a {
    font-size: 26px;
    text-align: center;
}

.home-recipes-div{
    display: flex;
    flex-wrap: wrap;
}

.home-recipes-div article {
    width: 8%;
}

.all-recipes img {
    width: 250px;
    height: auto;
}

.home-recipes img {
    width: 350px;
    height: auto;
}

.user-recipes {
    display: flex;
    flex-wrap: wrap;
    
}

.recipe {
    display: block;
}

#averageDiv {
    color: teal;
    font-size: 22px;
}

#numberOfRatings {
    color: teal;
    font-size: 18px;
}

#video-container {
    max-height: 200px;
}

#veggiedish-hero {

}
/* nav {
    padding-right: 2.5em;
    margin-right: 2.5em;
} */

.home-recipes {
    /* margin-top: -500px; */
}


#myVideo {
    position: relative;
    top: -150px;
    
    /* left: -10px; */
    padding-left: -50px;
    padding-right: -50px;
    background-image: linear-gradient()
  }

.content {
    position: relative;
    bottom: 1000px;
    display: flex;
    flex-direction: row;

}

.content div {
    padding-top: 20%;
    text-align: right;
}

#veggiedish-hero{
    padding-right: 5em;
}
.content h1, .content h3 {
    color: white;
}

.body {
    background-image: url('images/veggie-dishes.mp4');
    background-attachment: fixed;
    background-size: 100vw;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: fill;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color:grey;
  }

.edit-profile {
    margin-right: 50%;
}

.edit-profile #submit {
    margin-top: 1em;
}